body {
  background: #fff url(../img/bg_dark.png);
  }
.row {
    height:auto;
    background:white;
  }
.top-bar {
  background: black;
  z-index: 1;
  opacity:0.9;
  position:fixed;
  top:0;
  left:0;
  margin:0;
  padding:0;
  width:100%;
  min-height: 45px;
  }

.top-bar-section li a:not(.button) {
  background: black;
  opacity:0.9;
  }

.top-bar-section li a:not(.button):hover {
  background: #FF6600;
  opacity: 0.8;
  }


article {
font-size: 130%;
text-align: center;
font-weight: normal;
font-family: Georgia, "Times New Roman", Times, serif;
  }
.rows {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
  background:white;
  }
a:hover, a:focus {
  opacity:0.8;
  }

#social {
  width:40px;
  height:auto;
  }

.heading_dots {
background: url(../img/heading_dots_grey.png) repeat-x center;
}
.heading_center_bg {
background: #FFF;
padding: 0 10px;
text-align: center;
font-family: 'Open Sans Condensed',sans-serif;
}

.heading_supersize {
font-size: 74px;
text-align: center;
font-weight: normal;
line-height: normal;
margin: 0 0 10px;
font-family: 'Open Sans Condensed',sans-serif;
}

h2{
  font-family: 'Open Sans Condensed',sans-serif;
}
p {
color: #000;
font-size: 16px;
font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
font-weight: normal;
}

.button{
  background-color:#FF6600;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color:#FF6600;
  opacity:0.8;
  }
.small-12.columns {
margin-top: 15px;
}